<section>
  <div>
    <img class='logo' src='/Waving_Snail.webp' alt='logo' />
  </div>

  <nav>
    <a href='/'>Home</a>
    <a href='/about'>About</a>
    <a href='/works'>Works</a>
  </nav>
</section>