<h2 class='top-text'>{{message}}</h2>

<p class='bottom-text'>The Snail is a character that has hidden in every episode
  of Adventure Time to date Adventure Time (Pilot), usually seen waving at the
  screen. His cameos are a running gag. In the episode "Mortal Folly," The Lich
  possesses the Snail to break the amber prison where he is trapped. Then, in
  "Mortal Recoil," Princess Bubblegum (while being possessed), passes the Lich
  onto him.</p>